.grid {
  --block-min-height-lg: 60vh;
  --block-min-height-md: 75vh;
  --block-min-height-sm: 50vh;

  --font-size-brand-statement-lg: 3.25rem;
  --font-size-brand-statement-md: 2.75rem;
  --font-size-brand-statement-sm: 2.25rem;

  position: relative;
  display: grid;
  /* Two columns of equal width; 1fr means equal fractional units */
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
}

.textBlock {
  min-height: var(--block-min-height-lg);
  position: relative;
  background-image: url('../../assets/blueprint-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: none;
}

.textContainer {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.primary {
  background-color: rgba(242, 135, 6, 0.88);
}

.secondary {
  background-color: rgba(242, 183, 3, 0.88);
}

.image {
  min-height: var(--block-min-height-lg);
}

.heading {
  width: 60%;
  font-size: var(--font-size-brand-statement-lg);
  font-weight: 600;
  line-height: 3.75rem;
}

@media screen and (max-width: 991px) {
  .textBlock {
    min-height: var(--block-min-height-lg);
  }

  .imageBlock {
    min-height: var(--block-min-height-lg);
  }

  .heading {
    max-width: 75%;
    font-size: var(--font-size-brand-statement-lg);
    line-height: 3.25rem;
  }
}

@media screen and (max-width: 767px) {
  .grid {
    /* Single column rwo; 1fr = entire width of container */
    grid-template-columns: 1fr;
  }

  .textBlock {
    min-height: var(--block-min-height-md);
  }

  .imageBlock {
    min-height: var(--block-min-height-md);
  }

  .heading {
    font-size: var(--font-size-brand-statement-md);
    line-height: 2.75rem;
  }
}

@media screen and (max-width: 479px) {
  .textBlock {
    min-height: var(--block-min-height-sm);
  }

  .imageBlock {
    min-height: var(--block-min-height-sm);
  }

  .heading {
    max-width: 100%;
  }
}