.imageContainer {
  margin-bottom: 1.5rem;
  aspect-ratio: 16 / 9;
  position: relative;
}

.image {
  border-radius: var(--image-border-radius);
  object-fit: cover;
}

.title {
  font-size: var(--font-size-subheading-lg);
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.description {
  letter-spacing: var(--font-letter-spacing-lg);
  line-height: var(--font-line-height);
}

.first {
  order: 1;
}

.last {
  order: 2;
}

@media screen and (max-width: 767px) {
  .imageContainer {
    margin-bottom: 1rem;
  }

  .title {
    font-size: var(--font-size-subheading-sm);
  }

  .description {
    letter-spacing: var(--font-letter-spacing-sm);
  }
}