.bodyText {
  line-height: var(--font-body-line-height);
  letter-spacing: var(--font-body-letter-spacing-lg);
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 767px) {
  .bodyText {
    letter-spacing: var(--font-body-letter-spacing-sm);
    margin-bottom: 2rem;
  }
}