.sectionXPadded {
  padding-top: var(--section-padding-top-lg);
  padding-bottom: var(--section-padding-bottom-lg);
  padding-left: var(--section-side-padding-lg);
  padding-right: var(--section-side-padding-lg);
}

.sectionXFluid {
  padding-top: var(--section-padding-top-lg);
  padding-bottom: var(--section-padding-bottom-lg);
  padding-left: 0;
  padding-right: 0;
}

@media screen and (max-width: 991px) {
  .sectionXPadded {
    padding-left: var(--section-side-padding-md);
    padding-right: var(--section-side-padding-md);
  }
}

@media screen and (max-width: 767px) {
  .sectionXPadded {
    padding-top: var(--section-padding-top-sm);
    padding-bottom: var(--section-padding-bottom-sm);
    padding-left: var(--section-side-padding-sm);
    padding-right: var(--section-side-padding-sm);
  }

  .sectionXFluid {
    padding-top: var(--section-padding-top-md);
    padding-bottom: var(--section-padding-bottom-md);
  }
}

@media screen and (max-width: 479px) {
  .sectionXPadded {
    padding-top: var(--section-padding-top-sm);
    padding-bottom: var(--section-padding-bottom-sm);
    padding-left: var(--section-side-padding-sm);
    padding-right: var(--section-side-padding-sm);
  }

  .sectionXFluid {
    padding-top: var(--section-padding-top-sm);
    padding-bottom: var(--section-padding-bottom-sm);
  }
}