.container {
  width: 100%;
  min-height: var(--testimonial-height-lg);
  margin-top: 2rem;
  border-radius: var(--border-radius-image);
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .container {
    min-height: var(--testimonial-height-md);
  }
}

@media screen and (max-width: 479px) {
  .container {
    min-height: var(--testimonial-height-sm);
  }
}
