.heading {
  --font-size-heading-lg: 4rem;
  --font-size-heading-md: 2.75rem;
  --font-size-heading-sm: 2rem;

  --font-weight-heading: 500;

  --margin-heading-bottom-lg: 1rem;
  --margin-heading-bottom-sm: 1rem;

  margin-bottom: var(--margin-heading-bottom-lg);
  font-size: var(--font-size-heading-lg);
  font-weight: var(--font-weight-heading);
}

@media screen and (max-width: 991px) {
  .heading {
    font-size: var(--font-size-heading-md);
  }
}

@media screen and (max-width: 767px) {
  .heading {
    font-size: var(--font-size-heading-sm)
  }
}