.container {
  min-width: 100%;
  min-height: var(--testimonial-height-lg);
  flex: 0 0;
  position: relative;
  border-radius: var(--border-radius-image);
  background-color: var(--color-primary-pale);
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageContainer {
  width: 4rem;
  position: relative;
  margin-bottom: 2rem;
}

.image {
  width: 100%;
  height: 100%;
}

.header {
  margin-bottom: 1.5rem;
}

.name {
  margin-bottom: 0.25rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.title {
  margin-bottom: 1rem;
  font-size: 14/16rem;
  letter-spacing: 1px;
}

.divider {
  width: 4rem;
  height: 2px;
  background-color: var(--color-primary-dark);
}

.testimonialBody {
  font-style: italic;
  line-height: 1.4rem;
  letter-spacing: var(--font-body-letter-spacing-lg);
}

@media screen and (max-width: 991px) {
  .content {
    padding: 3rem;
  }
}

@media screen and (max-width: 767px) {
  .container {
    min-height: var(--testimonial-height-md);
  }
  
  .imageContainer {
    width: 3rem;
  }

  .testimonialBody {
    letter-spacing: var(--font-body-letter-spacing-sm);
  }
}

@media screen and (max-width: 479px) {
  .container {
    min-height: var(--testimonial-height-sm);
  }
  
  .content {
    padding: 2rem;
  }
}